.vscode/**
.vscode-test/**
src/**
fixtures/**
node_modules/**
test/**
tests/**
.gitignore
tsconfig.json
vitest.config.ts
turbo.json
*.tsbuildinfo
.github/**
docs/**
scripts/**
**/*.map
**/tsconfig*.json
**/.turbo/**
**/coverage/**
**/.nyc_output/**
**/*.test.*
**/*.spec.*
**/vitest.*
!dist/**
!media/**
!README.md
!CHANGELOG.md
!LICENSE
!package.json